@font-face {
  font-family: 'Be Vietnam Pro';
  src: url("https://apps.nestscale.com/nestads/static/font/BeVietnam-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro" !important; ;
  font-size: 14px;
  margin: 0;
}


.btn {
	align-items: center;
	padding: 4px 12px;
	font-style: normal;
	gap: 4px;
	border-radius: 5px;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
  }

.m-btn {
    display: inline-block;
    min-width: 80px;
    height: 36px;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    background-color: #1C1C1E;
    text-align: center;
    color: var(--Neutral-10, #FDFDFD);
    font-family: Be Vietnam Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.m-btn:hover {
    cursor: pointer;
    color: #40a9ff;
    transition: .1s linear;
}

.m-btn:active {
    background-color: #d1d1d1;
}

.main-comp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 32px;
}

.main-comp .title {
	color: #000;
	font-size: 27px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}

.main-comp-body {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: 100%;
}

.main-comp-item {
	width: 100%;
    display: flex; 
    padding: 16px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    border: 1px solid #E2E2E2;
    background: #FFF; 
}




input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 36px;
    height: 29px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

input[type="text"] {
    border-radius: 6px;
    border-color: #939393;
    min-height: 44px;
}