<script async="" type="text/javascript" id="odoo_test_app" src="https://odoo.website/sample_app/static/js/shopify_frontend.js?v=20240304_1"></script>
<div id="app-storefront"

></div>
{% schema %}
  {
    "name": "Sample App",
    "target": "section",
    "settings": []
  }
{% endschema %}